* {
    margin: 0;
  
$main-color: grey;
}

body {
    margin-bottom: 1rem;
}

a {
    font-size: 0.6rem;
    color: black;
    text-decoration: none;
}

em {
    color: grey;
    text-decoration: none;
    font-style: normal;
}

header {
    border-bottom: 1px rgba(0,0,0,0.04) solid;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.logo {
    width: 60px;
    height: auto;
    margin: 1rem;
}

.links, .profil {
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
    height: 0.8rem;
    width: 16rem;
}

.links:hover, .profil:hover {
    box-shadow: 1px 1px 25px rgba(0,0,0,0.3);
}

.links strong {
    border-right: 1px rgba(0,0,0,0.04) solid;
    padding: 0.5rem;
}

.navigation {
    display: flex;
    flex-direction: center;
}

.navigation, .profil {
    background-color: white;
    border-radius: 50px;
}

.bouton:hover {
    background-color: rgba(0,0,0,0.04);
    border-radius: 50px;
    padding: 10px 20px;
}

.langue:hover {
    background-color: rgba(0,0,0,0.04);
    border-radius: 50px;
    padding: 5px 10px;
}

.langue, .profil {
    width: 20px;
    height: auto;
    margin: 1rem;
}

.icones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem;
}

.icones img {
    width: 15px;
    height: auto;
    opacity: 0.5;
}

.icones img:hover, .icones img:active {
    opacity: 1;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 1rem;
}

.logement {
    border-radius: 5px;
    margin-top: 1rem;
}

.content .logement {
    height: 200px;
    width: 250px;
}

.note {
    width: 20px;
    height: auto;
}

